@charset "UTF-8";

/*Jeff Wiederkehr
  Server Rancid Reviews  CSS*/
html {
    background-image: url("images/moviebg.png");
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}




.bannerHead {
    margin-right: 5px;
    margin-left: 5px;
    height: 50px;
    margin-top: 10px;
    background-image: url("images/rancidbannerbg.png");

}
.bannerHead img {
    width: 58%;
    height: 50px;
    margin-top: 0;
    margin-bottom: 8px;

}

.headerText{
    text-align: center;
    text-shadow: 3px 3px #999999;
    font-family: Georgia sans-serif;
    font-size: 22pt;
    margin-top: 24px;
    margin-bottom: 0;
}

h1 {
    margin: 0;
    font-size: 24pt;
}



.container {
    width: 940px;
    height: 120vh;
    margin: auto;
    border: 1px solid darkgray;
    border-radius: 25px;
    box-shadow: 10px 10px 8px darkgray;
    background-color: lightgrey;
    margin-bottom: 50px;
    overflow: hidden;


}

.container .header {
    background-image: url("images/rottenlargebg.png");
    height: 83px;
    margin: 0;
    padding: 0;
    border-radius: 25px 0 0 0;
    width: 683px;
}



.container .header img {
    border-radius: 25px 0 0 0;
    padding: 0;
    margin-bottom: 10px;

}

img {
    vertical-align: top;
    float: left;
    margin-right: 5px;

}

.container div {
    display: inline-block;
}

.container .header p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 45pt;
    color: red;
    float: right;
    font-weight: bolder;
    padding: 0;
    margin-right: 400px;
    margin-top: 4px;



}

.container .overview {
    float: right;
    border-radius: 0 25px 0 0;
    height: 50vh;
}

.container .overview img {
    margin: 0;
    width: 257px;
    padding: 0;
    height: 50vh;
    border-radius: 0 25px 0 0;
}

.container .right_column {
    float: left;
    width: 330px;
    margin-left: 5px;
    margin-right: 5px;

}

.container .reviewTest {
    background-color: #FFFFFF;
    border-radius: 20px;
    margin-right: 5px;
    padding: 12px;
    margin-bottom: 0;
    font-size: 12.2pt;
    font-family: Georgia sans-serif;
    border: 2px solid grey;
}

.person {
    margin-top: 4px;
    margin-bottom: 30px;
    font-size: 12.2pt;
    font-family: Georgia sans-serif;

}

.container .left_column {
    float: left;
    width: 330px;

}

.container .rightTable {
    float: right;
    width: 248px;
    background-color: darkseagreen;
    height: 70vh;
    font-size: 13px;
    border-radius: 0 0 25px 0;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 0;

}

.container .rightTable dt {
    font-weight: bold;
    margin-bottom: 3px;
    margin-top: 3px;
}

.container .rightTable li {
    list-style-type: none;
    margin-top: 0;
}

.container .rightTable ul {
    margin: 0;
    padding: 0;
}



.fillbottom {
    height: 40px;
}


